/* NanumBarunpen 웹폰트 정의 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* 전체 페이지에 NanumBarunpen 폰트 적용 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
}
/* channel id 색 */
.channel-id {
    color: #3498db; /* 원하는 색상 코드 */
}

/* 카드 스타일 */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 그리드 레이아웃 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
/* 비디오 링크 스타일링 */
.video-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
/* Click to Download 버튼 스타일링 & 호버 효과 */
.download-link {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
.download-link:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 로딩 애니메이션을 위한 원형 스피너를 생성 */
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* 비활성화된 버튼 스타일 */
input[type="submit"]:disabled {
    background-color: #cccccc; /* 회색 */
    cursor: not-allowed; /* 커서 변경 */
}

/* 설명 컨테이너 스타일 */
.description-container {
    text-align: center; /* 텍스트 가운데 정렬 */
    max-width: 600px; /* 컨테이너 최대 너비 */
    margin: 0 auto; /* 좌우 마진 자동으로 설정하여 가운데 정렬 */
    padding: 20px; /* 패딩 */
    background-color: #f9f9f9; /* 배경색 */
    border-radius: 8px; /* 라운드 코너 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
/* 설명 텍스트 스타일 */
.description-container h1,
.description-container p {
    color: #333;
    margin-bottom: 10px;
}
/* 호버 효과 추가 */
/*
.description-container p:hover {
    color: #3498db;
    cursor: pointer;
}
*/

/* 폼 스타일 */
form {
    font-family: 'Pretendard-Regular', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px; /* 폼과 설명 사이 간격 */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* 입력 필드 스타일 */
input[type="text"] {
    font-family: 'Pretendard-Regular', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/* 버튼 스타일 */
input[type="submit"] {
    font-family: 'Pretendard-Regular', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #2980b9;
}
