<!DOCTYPE html>
<html>
<head>
    <title>YouTube Channel Video Links</title>
</head>
<body>
    <h1>Enter YouTube Channel ID</h1>
    <form method="POST" action="/">
        <input type="text" name="channel_id" placeholder="Channel ID">
        <input type="submit" value="Get Videos">
    </form>

        {% if data.channel_id %}
        <h2>Video Links:</h2>
        <h5>채널 ID {{ data.channel_id }}의 정보가 표시됩니다.</h5>
        {% if data.videos %}
            <ul>
                {% for video in data.videos %}
                    <li><a href="{{ video.link }}">{{ video.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No videos found for this channel.</p>
        {% endif %}

        <h2>JSON Data:</h2>
        <pre>{{ data.videos_json }}</pre>
    {% endif %}

    {% if videos and channel_id %}
        <h2>Video Links(by SQLite):</h2>
        <h5>채널 ID와 각 동영상의 정보가 'info_{{ channel_id }}.json' 파일로 저장되었습니다.</h5>
        <ul>
            {% for video in videos %}
                <li><a href="{{ video }}">{{ video }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

     <!-- 오류 메시지 표시 -->
    {% if data.error %}
        <div class="error-message">
            {{ data.error }}
        </div>
    {% endif %}
</body>
</html>
