<!DOCTYPE html>
<html>
<head>
    <title>Get Whisper Subtitle</title>
</head>
<body>
    <!-- 설명 -->
    <div class="description-container">
        <h1 onclick="redirectToHome()" style="cursor: pointer;">Get Whisper Subtitle by Channel ID</h1>
        <p>1. 궁금한 유튜브 채널에서 <strong>채널 자세히 알아보기</strong>를 클릭하세요.</p>
        <p>2. <strong>채널 공유</strong>를 클릭하세요.</p>
        <p>3. <strong>채널 ID 복사</strong>를 클릭하세요.</p>
        <p>4. 이제 복사된 채널 ID를 <strong>아래 빈칸에 붙여넣기</strong>해 주세요!</p>
        <!-- 폼 -->
        <form method="POST" action="/" onsubmit="handleSubmit()">
            <input type="text" name="channel_id" placeholder="Channel ID">
            <input type="submit" id="getVideosButton" value="Get Videos">
        </form>
    </div>

     <!-- 로딩 애니메이션 -->
    <div id="loadingAnimation" style="display: none;">
        <div class="loader"></div>
    </div>

    <!-- 비디오 링크 그리드 컨테이너 -->
    {% if data.channel_id %}
        <div class="data-description-container">
        <!--<h2>Video Links & Subtitle</h2>-->
        <h4>채널 <span class="channel-info">{{data.channel_name}}</span> (채널 ID <span class="channel-info">{{ data.channel_id }}</span>) 의 정보가 표시됩니다.</h4>
            <a href="{{data.channel_link}}" class="download-link">GO TO {{data.channel_name}}</a>
            <p>영상 <strong>{{data.video_cnt}}</strong>개가 <strong>최신순</strong>으로 정렬되었습니다.</p>
            <p><strong>제목</strong>을 누르면 유튜브 링크로 이동합니다.</p>
            <p><strong>Download Subtitle</strong> 버튼을 눌러서 자막 정보를 MongoDB 에 저장할 수 있습니다.</p>
            <button onclick="confirmDownload()">Download</button><!--Test: Confirm Download-->
        </div>
        {% if data.videos %}
            <div class="grid-container">
                {% for video in data.videos %}
                <div class="card">
                    <!-- 영상 고유 썸네일 이미지 추가 -->
                    {% set thumbnail_url = 'https://img.youtube.com/vi/' ~ video.video_id ~ '/default.jpg' %}
                    <img src="{{ thumbnail_url }}" alt="{{ video.title }}">
                    <p> </p>
                    <!-- 비디오 제목 링크 -->
                    <a href="{{ video.link }}" class="video-link">{{ video.title }}</a>
                    <p class="published-date">{{ video.published_at }}</p><!--업로드 날짜 표시-->
                    <!-- transcription 존재 여부에 따라 버튼 상태와 메시지를 변경합니다. -->
                    {% if video.transcription_exists %}
                        <!--<button class="exists-in-db" disabled>Downloaded</button>-->
                        <button onclick="viewDownloadTime('{{ data.channel_id }}', '{{ video.video_id }}')" class="view-downloaded">View with Time</button>
                        <button onclick="viewDownloadEntire('{{ data.channel_id }}', '{{ video.video_id }}')" class="view-downloaded">View All</button>
                    {% else %}
                        <button onclick="downloadSubtitle('{{ data.channel_id }}', '{{ video.video_id }}', this)" class="download-link">Download Subtitle</button>
                    {% endif %}
                    <!--mongodb 버전이었다. 제목을 누르면 바로 다운로드가 되는 코드-->
                    <!--<a href="/download/{{ video.id }}">{{ video.title }}</a>-->
                </div>
                {% endfor %}
            </div>

            <!-- 페이지네이션 컨트롤 -->
            <div class="pagination">
                <!-- 첫 페이지 버튼 -->
                <a href="/?page=1{{ '&channel_id=' + data.channel_id if data.channel_id else '' }}">First</a>

                <!-- 이전 페이지 버튼 -->
                {% if data.current_page > 1 %}
                <a href="/?page={{ data.current_page - 1 }}{{ '&channel_id=' + data.channel_id if data.channel_id else '' }}">Prev</a>
                {% endif %}

                {% set page_offset = 2 %}
                {% set start_page = [data.current_page - page_offset, 1]|max %}
                {% set end_page = [start_page + 4, data.total_pages]|min %}

                <!-- 현재 페이지 주변의 페이지 번호들 -->
                {% for page in range(start_page, end_page + 1) %}
                    {% if page == data.current_page %}
                        <a href="/?page={{ page }}&channel_id={{ data.channel_id }}" style="background-color: #2980b9; color: white;">{{ page }}</a>
                    {% else %}
                        <a href="/?page={{ page }}&channel_id={{ data.channel_id }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                <!-- 다음 페이지 버튼 -->
                {% if data.current_page < data.total_pages %}
                <a href="/?page={{ data.current_page + 1 }}{{ '&channel_id=' + data.channel_id if data.channel_id else '' }}">Next</a>
                {% endif %}

                <!-- 마지막 페이지 버튼 -->
                <a href="/?page={{ data.total_pages }}{{ '&channel_id=' + data.channel_id if data.channel_id else '' }}">Last</a>
            </div>
        {% else %}
            <p>No videos found for this channel.</p>
        {% endif %}
    {% endif %}

    {% if videos and channel_id %}
        <h2>JSON Data:</h2>
        <pre>{{ data.videos_json }}</pre>
        <h2>Video Links(by SQLite):</h2>
        <h5>채널 ID와 각 동영상의 정보가 'info_{{ channel_id }}.json' 파일로 저장되었습니다.</h5>
        <ul>
            {% for video in videos %}
                <li><a href="{{ video }}">{{ video }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

     <!-- 오류 메시지 표시 -->
    {% if data.error %}
        <div class="error-message">
            {{ data.error }}
        </div>
    {% endif %}

    <!-- CSS 파일 참조 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- JavaScript 파일 참조 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
